# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8
        stages: [commit]
        language: system
        entry: flake8
        types: [python]
        exclude: setup.py
        args:
          - "--config"
          - "pyproject.toml"
          - "--max-line-length=124"  # Adjust the line length as needed

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v0.910'  # Use the ref you want to point at
    hooks:
    -   id: mypy
        args: ["--config", "pyproject.toml"]

  # Specific tools with their configurations
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.0.275"
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

  - repo: https://github.com/pre-commit/mirrors-isort
    rev: "v5.9.3"
    hooks:
      - id: isort
        args: ["--profile", "black"]

  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        args: ["--config", "pyproject.toml"]

  - repo: https://github.com/econchick/interrogate
    rev: 1.5.0
    hooks:
      - id: interrogate
        args: [src, -v, -i, --fail-under=70, '-e', '**/__init__.py']
        pass_filenames: false

  # - repo: https://github.com/PyCQA/bandit
  #   rev: '1.7.5'
  #   hooks:
  #   - id: bandit
  #     args: ['-q', '-c', 'pyproject.toml']

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    - id: check-yaml
    - id: debug-statements
    - id: end-of-file-fixer
    - id: trailing-whitespace
